/* ContactForm.module.css */

.container {
  width: calc(100% - 50px);
  margin: 25px;
  display: flex;
  justify-content: center;
  min-height: 500px;
  .imageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    width: 50%;
    img {
      // min-height: 512px;
      // min-width: 480px;
      height: 100%;
      // height: 400x;
      // width: 400px;
    }
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    // max-width: 650px;
    h1 {
      // padding-left: 25px;
      font-size: 44px;
      font-weight: 800;
      line-height: 60px;
      word-wrap: break-word;
    }
    form {
      max-width: 500px;
      // padding: 20px;
      // border: 1px solid #ccc;
      .formRow {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        input {
          background: #333333;
          color: #7d8387;
          width: calc(50% - 20px);
          padding: 20px;
          border-radius: 50px;
        }
        input:focus {
          outline: 2px solid #fa5b18; /* Remove default focus outline */
        }
      }
      .textareaRow {
        color: black;
        display: flex;
        justify-content: center;
        // padding: 0px 15px 15px 15px;
        input {
          background: #333333;
          color: #7d8387;
          width: 100%;
          border-radius: 50px;
          padding: 20px;
        }
        input:focus {
          outline: 2px solid #fa5b18; /* Remove default focus outline */
        }
      }
    }
    .footer {
      .customButton {
        padding: 12px 24px;
        border-radius: 35px;
        border: 1px solid #fa5b18;
        position: relative;
        overflow: visible;
        background-color: transparent;
        color: #fff; /* Default text color */
        transition: background-color 1s ease, color 1s ease; /* Add transitions for background color and text color */
      }

      .customButton:hover {
        background-color: #fa5b18;
        border: 1px solid white; /* Change background color on hover */
        color: #fff; /* Change text color on hover */
      }

      .customButton::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: #fff;
        border-radius: 50%;
        transition: right 1s ease, width 1s ease, height 1s ease; /* Add transitions for width and height */
      }

      .customButton:hover::after {
        right: -40px;
        width: 30px; /* Increase width on hover */
        height: 30px; /* Increase height on hover */
        transition: right 1s ease, width 1s ease, height 1s ease; /* Add transitions for width and height */
      }
    }
  }
}

/* label {
  display: block;
  margin-bottom: 0.5rem;
} */

/* input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
} */

/* button:hover {
  background-color: #0056b3;
} */
